.rightAdmin.Calendar {
    width: 100%;
    /* max-width: 100vw; */
    height: 800px;
    max-height: 90vh;
    z-index: 0;
  }
  .sx-react-calendar-wrapper {
    width: 100%;
    /* max-width: 100vw; */
    height: 800px;
    max-height: 90vh;
  }
