body {
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.74) 0%, rgba(167, 123, 224, 0.575) 100%);
  margin: 0;
  /* color: white; */
}
a{
  text-decoration: none;
  color: black;
}

